<section class="all_content_index" >
    
    <app-menu></app-menu>

    <div class="box2_index" id="div_principal">
    
        <!-- <div id="div_aux_semestre" class="div_aux_semestre"></div>
        <button class="add_disc add_semestre add_semestre_mobile">Adicionar Semestre</button> 		
        <input type="hidden" id="semestre_selecionado" value="0" name="semestre_selecionado"> -->

        <!-- item complementar -->
        <app-complementar></app-complementar>
        <!-- fim item complementar -->
    
    </div>

</section>
    <footer class="item_efeito_scrool_top">

    </footer>
<app-disciplina></app-disciplina>

