<div class="box_semestre box_complementares">
    <div class="col_semestre1_com">
      <p class="num_semestre">Atividades Complementares</p>
      <!-- item complementar -->
      <div class="item_complementar">
        <p class="tipo_complementar">Participação em palastra</p>
        <span class="nome_complementar">Evento da GDG Natal 2017</span>
        <span class="carga_horaria_evento">Carga horária: 4h</span>
                  <p class="rem_complementar">remover</p>
      </div>
      <div class="item_complementar">
              <p class="tipo_complementar">Participação em palastra</p>
              <span class="nome_complementar">Evento da GDG Natal 2017</span>
              <span class="carga_horaria_evento">Carga horária: 4h</span>
                        <p class="rem_complementar">remover</p>
      </div>
      <div class="item_complementar">
              <p class="tipo_complementar">Participação em palastra</p>
              <span class="nome_complementar">Evento da GDG Natal 2017</span>
              <span class="carga_horaria_evento">Carga horária: 4h</span>
                        <p class="rem_complementar">remover</p>
      </div>     
      <!-- fim item complementar -->
    </div>
    
    <div class="col_semestre2_com">
        <select name="tipo_atv_comp" id="tipo_atv_comp">
            <option value="Participação em palastra">Participação em palastra</option>
            <option value="Participação em palastra">Participação em palastra</option>
            <option value="Participação em palastra">Participação em palastra</option>
            <option value="Participação em palastra">Participação em palastra</option>
            <option value="Participação em palastra">Participação em palastra</option>
        </select>
        <input name="nome_atv_comp" class="hora_complementar" placeholder="Atividade complementar*">
        <input name="carga_hor_comp" class="hora_complementar" placeholder="Carga horária*">
        <button click="eventAddComplementar()" class="add_disc add_complementar">Adicionar</button>
    </div>
  </div>